@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: all 2s ;
    
}
html{
    scroll-behavior: smooth;
}
header{
    position: fixed;
    width: 100%;
    z-index: 500;
    top: 0;
}

.nav{
    display: flex;
    max-width: 1000px;
    margin:  auto ;
    padding: 15px;
    background-color: #fff;
}
.logo{
    flex-grow: 1;
}
.navlink ul li{
    list-style-type: none;
    display: inline;
}
.navlink ul li a{
    text-decoration: none;
    margin: px;
    color: #000;
    font-weight: bold;
    padding: 7px;
    font-size: 15px;
}
.navlink ul li a:hover,.navlink ul li .active{
    border-bottom: 2px solid blue;
}
.line{
    background-color: rgb(223, 220, 220);
    height: 1px;
    filter: blur(.5px);
    -webkit-filter: blur(.5px);

}
.bar{
    display: none;
}
.btn{
    background-color: #3E6FF4 ;
    color: #fff;
    padding: 10px 30px;
    font-weight: bold;
    font-size: medium;
    border-radius: 10px;
    margin: 30px 15px;
    outline: none;
    border: none;
}
.profile{
    max-width: 1000px;
    margin:80px auto;
}
.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    align-items: center;
}
.image-div{
    grid-row: span 2;
}
.icon{
    align-items: start;
    margin-top: -250px;
}
.icon span i{
    margin: 15px;
    font-size: 20px;
}

/* about section */
.aboutSection{
    max-width: 1000px;
    margin: auto;
}
.about{
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    justify-content: space-around;
    margin: 60px 0;

}
.aboutimg{
    display: flex;
}
.aboutimg img{
    justify-content: center;
    margin: auto;
    
}
.skillssection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.progress{
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    gap: 10;
    margin: auto;
    border-radius: 5px;
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 600;
}
.progress .single{
    display: flex;
    padding: 10px;
}
.progress .name{
    flex-grow: 1;
}
.progress .icon1{
    color: #3E6FF4;
    font-size: larger;
    padding: 0px 10px;
}

.progress .progressbar{
    background-color: #3E6FF4;
    height: 5px;
    border-radius: 5px;
}
.skillsimgdiv{
    display: flex;
}
.skillsimg{
    height: 400px;
    width: 400px;
    object-fit: cover;
    margin: auto;
    justify-items: center;
}
.work{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    min-width: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 0px 30px;
}
.work img{
   width: 100%;
   height: 100%;
    margin: auto;
    text-align: center;
}
form > div{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}
form label{
    font-size: large;
    font-weight: 600;
}
form div{
    margin: 15px auto;
}
form >div >input,textarea{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: larger;
}
textarea{
    height: 200px;
}
.footer{
    margin: 20px 0px;
}
.footer span{
    padding: 10px;
}
.title{
    text-align: center;
    display: ;
    font-size: 25px;
    font-weight: 800;
    color: #3E6FF4;
    border-bottom: 2px solid ;
}
.image-div img{
    width: 300px;
}
.info1 h1{
    margin: 10px; 
    font-weight: 800;
    font-size: 40px;
}

@media screen and (max-width: 800px) {
    .info1 h1{
        margin: 10px; 
        font-weight: 800;
        font-size: 30px;
    }
    .skillssection{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        padding: 0px 30px;
    }
    .skillsimg{
        width: 100%;
    }
    .skillsinfo h2,p{
        text-align: center;
    }
    .work {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 0px 0px;
        padding: 0px 20px;
    }
    .bar{
        display: none;
    }
   
}


@media screen and (max-width: 600px) {
    .info1{
        grid-column: span 2;
    }
    .image-div{
        grid-row: span 1;
        order: 3;
        margin-right: 100px;
    }
    .icon{
        display: flex;
        flex-direction: column;
        margin: 0px 15px;
    }
    .aboutSection{
        margin: 100px 0px;
    }
    .about{
        grid-template-columns: 1fr;
        margin: 0px 40px;
    }
    
    .work{
        grid-template-columns: 1fr;
    }
    .work img{
    }
    .navlink{
        display: none;
    }
    .bar{
        display: block;
    }
}